<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Create Farmer</h1> 
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/farmers">Farmers</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Farmer</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                            <div class="form-group">
                                <label for="farmerName">Farmer Name</label>
                                <input type="text" class="form-control" id="farmerName" formControlName="firstNameFarmer" placeholder="Enter farmer name">
                            </div>
                            <div class="form-group">
                                <label for="farmerType">Farmer Last Name</label>
                                <input type="text" class="form-control" id="farmerLastName" formControlName="lastNameFarmer" placeholder="Enter farmer last name">
                            </div>
                            <div class="form-group">
                                <label for="farmerType">Email Farmer</label>
                                <input type="text" class="form-control" id="farmerEmail" formControlName="emailFarmer" placeholder="Enter farmer email">
                            </div>
                            <div class="form-group">
                                <label for="farmerType">Phone Farmer</label>
                                <input type="text" class="form-control" id="farmerPhone" formControlName="phoneFarmer" placeholder="Enter farmer phone">
                            </div>
                            <div class="form-group">
                                <label for="farmerType">Address Farmer</label>
                                <input type="text" class="form-control" id="farmerAddress" formControlName="addressFarmer" placeholder="Enter farmer address">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>