.main-footer .social {
    border: none;
    background: none;
    padding: 0;
    margin: 0 10px; 
}
.content-social{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.show-menu{
    margin: 0 !important;
}