<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <img class="animation__shake" src="assets/images/logo.png" alt="Master Farm" height="60" width="120">
            </div><!-- /.col -->           
            <div class="col-sm-6" style="float: right;text-align: center;">
                <!--<button type="button" class="btn btn-block bg-gradient-danger btn-lg">Download</button>-->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <img class="animation__shake" src="assets/images/Granja_Maestra.jpg" alt="Master Farm" height="100%"
                        width="100%">
                </div>
            </div>
            <div class="col-12">
                <div class="content-info">
                    <div class="col-6 card">
                        <div class="content-video">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VpcljaZwJyY" allowfullscreen></iframe>
                            </div>
                        </div>
                        <p>Granja Maestra es un juego de simulación educativa que sumerge a los jugadores en el 
                            mundo de la gestión de una granja, con un enfoque especial en la enseñanza sobre el 
                            aprovechamiento de residuos agrícolas. A través de la experiencia de juego, los jugadores 
                            aprenderán sobre la importancia de la sostenibilidad y la ecología, mientras gestionan sus 
                            propias granjas y se enfrentan a desafíos relacionados con el cultivo de alimentos y el 
                            cuidado de los animales.</p>
                            <p>
                            <strong>Edad:</strong> 6-12 años (aunque también puede ser adecuado para jóvenes y adultos interesados 
                            en la temática).<br>
                            <strong>Género:</strong> Simulación Educativa.<br>
                            <strong>Mercado:</strong>  Cundinamarca.<br>
                            <strong>Dificultad:</strong> Baja a Media.<br>
                            <strong>Tipo de Jugador:</strong> Casual, Interesado en la educación y la ecología.<br>
                            </p>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="col-12">
                                <p>Mariana y Fabián, dos hermanos con el legado de su querido abuelo Luis en sus manos, se 
                                    encuentran ante el desafío de revivir la granja que ha sido su hogar y su fuente de 
                                    inspiración desde su infancia. Con valentía y determinación, comienzan la ardua tarea de 
                                    limpiar los campos abandonados y restaurar los viejos corrales.</p>
                            </div>
                            <div class="col-12 content-characters">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <img class="" src="assets/images/Mariana.jpg" alt="Master Farm"
                                            height="50%" width="50%">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <img class="" src="assets/images/Fabian.jpg" alt="Master Farm"
                                            height="50%" width="50%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>